* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: #f8f8f8;
    font-family: 'IBM Plex', sans-serif;
}

#root {
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1 0 auto;
}