footer {
    background-color: #222;
    color: #fff;
    height: 8rem;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

footer .top ul.social_media {
    display: flex;
    gap: 1rem;
    list-style: none;
    overflow: hidden;
}

footer .top ul.social_media li svg {
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
}

footer .top ul.social_media li svg:hover {
    color: #ffbb33;
}

footer .bottom p.copy_right span {
    color: #ffbb33;
    font-weight: 800;
}